[Unit]
Description=LivingRoom Homebridge service watchdog
After=network-online.target homebridge.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/homebridge-network-watchdog
TimeoutStartSec=150s
